Python Coding Assignment On Strings

Question 1: Write a Python program to count the number of characters in a string.

In [1]:
a='python program2023'

In [2]:
a='python program2023'
def count_characters(a):
    return len(a)
caracters_count=count_characters(a)
print('number of characters is', caracters_count)

number of characters is 18

In [3]:
len(a)

18

Question 2: Write a Python program to reverse a string.

In [4]:
def reverse_string(reverse_str):
    return reverse_str[::-1]

reverse_a=reverse_string(a)
print('reverse string is =', reverse_a )

reverse string is = 3202margorp nohtyp

In [5]:
reverse_car=a[::-1]
print(reverse_car)

3202margorp nohtyp

Question 3: Write a Python program to check if a string is a palindrome.

In [6]:
ch='madam'
if ch==ch[::-1]:
    print(ch , ' is a palandrom string')
else:
    print(ch , 'is not a palandrom string')

madam  is a palandrom string

Question 4: Write a Python program to find the most common character in a string.

In [235]:
name='sujoy bhattacharya'
from collections import Counter

def most_common_character(input_string):
    char_count = Counter(input_string)
    most_common = char_count.most_common(1)[0]
    return most_common[0]

name = 'sujoy bhattacharya'

most_common_char = most_common_character(name)
print(f"The most common character in the string is: '{most_common_char}'")

The most common character in the string is: 'a'

Question 5: Write a Python program to check if two strings are anagrams.

In [12]:
str1=input('enter_string1')
str2=input('enter_string2')
if len(str1)!=len(str2):
    print("not a anagrams string")
else:
    if sorted(str1)==sorted(str1):
          print('this strings are anagrams')
    else:
        print('not a anagrams string')

enter_string1heart
enter_string2earth
this strings are anagrams

Question 6: Write a Python program to remove all the vowels from a string.

In [112]:
vovels='AEIOUaeiou'
def remove_vovels(str):
    for i in str:
        if i in vovels:
            str= str.replace(i,"")
    return str
nam=input('write words')
without_vovels=remove_vovels(nam)
        
print('string without vovels', without_vovels)

write wordsmy name is gargee and rishaan
string without vovels my nm s grg nd rshn

In [ ]:
Question 7: Write a Python program to find the longest word in a string.

In [19]:
def longest_word(string):
    words=string.split()
    longest=""
    for i in words:
        if len(i)>len(longest):
            longest=i
    return longest
words=input('write the words= ' )
longest=longest_word(words)

print('Longest word:', longest)

write the words= this is the real time yesting for the same circumstance that the developer is preety sure about the programme
Longest word: circumstance

Question 8: Write a Python program to capitalize the first letter of each word in a string.

In [21]:
cap=input('enter=')
cap.title()

enter=mentioned in the go programming language article

'Mentioned In The Go Programming Language Article'

Question 9: Write a Python program to find the frequency of each character in a string.

In [236]:
str_1=input('enter_string=')
d1=dict()
for i in str_1:
    if i in d1:
        d1[i]=d1[i]+1
    else:
         d1[i]=1
print(d1)

enter_string=reliance
{'r': 1, 'e': 2, 'l': 1, 'i': 1, 'a': 1, 'n': 1, 'c': 1}

Question 10: Write a Python program to check if a string is a valid email address.

In [ ]:
import re

validate = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

def check(email):
    if(re.fullmatch(validate, email)):
        print("Valid Email")
    else:
        print("Invalid Email")


if __name__ == '__main__':
        
        email = input('Enter to validate Mail Id:')
        check(email)

Python Coding Assignment On List

Question 1: Write a Python program to count the number of elements in a list.

In [ ]:
a = [100,200,300.56,'raja','priya',200]

elements=len(a)
print('count the number of elements is:', elements)

Question 2: Write a Python program to find the maximum and minimum values in a given list.

In [ ]:
ab = [100,200,300.56,200]

maximum_value=max(ab)
minimum_values=min(ab)
print('maximum value is:', maximum_value)
print('Minimum value is:',minimum_values )

Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

In [ ]:
ab = [100,200,300.56,200]
ab.remove(100)
print(ab)

Question 4: Write a Python program to find the average of all the elements in a list.

In [ ]:
a = [10 , 20 , 30 , 50.5 ]
sum_Elements=sum(a)
count_elements=len(a)
average=sum_Elements/count_elements
print('average of all the elements in a list is:', average )

Question 5: Write a Python program to check if a list is empty or not.

In [ ]:
def empty_list(list_check):
    if not list_check:
        return True
    else:
        False
        
a = [10 , 20 , 30 , 50.5 ]
b=[]

if empty_list(a):
    print('list a is empty')
else:
    print('list a is not empty')
    
if empty_list(b):
    print('list b is empty')
else:
    print('list b is not empty')

Question 6: Write a Python program to find the index of a specified element in a list.

In [ ]:
a = [10 , 20 , 30 , 50.5 ]
index_number=a.index(30)
print('index number of 30 is:', index_number)

Question 7: Write a Python program to concatenate two lists.

In [ ]:
a = [10 , 20 , 30 , 50.5 ]
b = [1 , 2 , 3 , 50 ]
ab=a+b
print(ab)

Question 8: Write a Python program to find the common elements between two lists.

In [ ]:
a = [10 , 20 , 30 , 50.5 ]
b = [10 , 2 , 30 , 50 ]
common_elements=list(set(a) & set(b))
print('common elements between two lists is:',common_elements )

Question 9: Write a Python program to remove the duplicates from a list while preserving the order of elements.

In [ ]:
a = [10 , 20 , 30 , 10, 50, 30 ]
remove=set()
result=[]
def elements_remove(list_remove):
    for item in list_remove:
        if item not in remove:
            result.append(item)
            remove.add(item)
    return result

elements_list=elements_remove(a)        
elements_list

Question 10: Write a Python program to sort a list of strings in alphabetical order

In [95]:
a = ['jaipur', 'mumbai', 'delhi', 'kanpur']
sort_1=sorted(a)
print(sort_1)

['delhi', 'jaipur', 'kanpur', 'mumbai']

Python coding on sets Assignment

Question 1: Write a Python program to create an empty set.

In [149]:
empty_set={}
empty_set

{}

Question 2: Write a Python program to check if two sets are equal.

In [107]:
def sets_are_equal(set1 , set2):
    return set1==set2
# Example sets
# Example sets
set_a = {1, 2, 3, 4}
set_b = {3, 1, 2, 4}
set_c = {1, 2, 3}
set_d = {3, 5, 1}

if sets_are_equal(set_a , set_b):
    print('set_a , set_b are_equal')
else:
    print('set_a , set_b are not equal')

if sets_are_equal(set_c , set_d):
     print('set_c , set_d are_equal')
else:
    print('set_c , set_d are not equal')

set_a , set_b are_equal
set_c , set_d are not equal

Question 3: Write a Python program to add an element to a set.

In [115]:
set_a = {1, 2, 3, 4}
set_a.add(25)
set_a

{1, 2, 3, 4, 25}

Question 4: Write a Python program to remove an element from a set.

In [118]:
set_a = {1, 2, 3, 4, 25}
set_a.remove(25)
set_a

{1, 2, 3, 4}

Question 5: Write a Python program to find the union of two sets.

In [125]:
set_x = {1, 2, 3, 4, 5}
set_y = {4, 5, 6, 7, 8}

union_set=set_x.union(set_y)
print('union of two sets:', union_set)

union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}

Question 6: Write a Python program to find the intersection of two sets.

In [130]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90}

intersection=set_l.intersection(set_m)
print('intersection of two sets:', intersection)

intersection of two sets: {50, 10}

Question 7: Write a Python program to find the difference between two sets.

In [131]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90}

difference=set_l.difference(set_m)
print('difference between two sets:',difference)

difference between two sets: {4, 20, 30}

Question 8: Write a Python program to check if a set is a subset of another set.

In [135]:
set_l = {10, 20, 30, 4, 50}
set_m = {40, 50, 10, 70, 90} 
subset=set_l.issubset(set_m)
subset

False

Question 9: Write a Python program to remove all duplicate elements from a set.

In [139]:
set_l = {10, 20, 30, 4, 50, 20,10,4}

set_2=set(set_l)
set_2

{4, 10, 20, 30, 50}

Python Coding on Dictionary Assignment 


Question 1: Write a Python program to create an empty dictionary.

In [153]:
empty_dictionary={}
print('Data type', type(empty_dictionary), empty_dictionary)

Data type <class 'dict'> {}

Question 2: Write a Python program to add a key-value pair to a dictionary.

In [161]:
dic_1={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
dic_1['kolkata']=84
print('new key-value pair to a dictionary:',dic_1)

new key-value pair to a dictionary: {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'kolkata': 84}

Question 3: Write a Python program to remove a key-value pair from a dictionary.

In [170]:
dic_1={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
del dic_1['jaipur']
print('new key-value pair to a dictionary:',dic_1)

new key-value pair to a dictionary: {'delhi': 20, 'Mumbai': 65, 'nagpur': 85}

Question 4: Write a Python program to check if a key exists in a dictionary.

In [168]:
dic_3={'jaipur':25, 'delhi':20, 'Mumbai':65 , 'nagpur':85}
dic_3.keys()
dic_3.get('delhi')

20

Question 5: Write a Python program to iterate over the keys and values of a dictionary.

In [169]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'jaipur': 26}
for key, value in dic_3.items():
    print("Key:", key, "Value:", value)

Key: jaipur Value: 26
Key: delhi Value: 20
Key: Mumbai Value: 65
Key: nagpur Value: 85

Question 6: Write a Python program to find the length of a dictionary.

In [172]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
len(dic_3)

4

Question 7: Write a Python program to merge two dictionaries.

In [178]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
dic_4 ={'jammu': 65 , 'pune':2}
dic_3.update(dic_4)
dic_3

{'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85, 'jammu': 65, 'pune': 2}

Question 8: Write a Python program to find the maximum and minimum values in a dictionary.

In [190]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
print('maximum value is:',max (dic_3.values()))
print('minimum value is:',min (dic_3.values()))

maximum value is: 85
minimum value is: 20

Question 9: Write a Python program to count the occurrences of each value in a dictionary.

In [193]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}

value_counts = {}  

for value in dic_3.values():
    if value in value_counts:
        value_counts[value] += 1
    else:
        value_counts[value] = 1

for value, count in value_counts.items():
    print(f"Value: {value}, Occurrences: {count}")

Value: 25, Occurrences: 1
Value: 20, Occurrences: 1
Value: 65, Occurrences: 1
Value: 85, Occurrences: 1

Question 10: Write a Python program to sort a dictionary by its values.

In [196]:
dic_3 = {'jaipur': 25, 'delhi': 20, 'Mumbai': 65, 'nagpur': 85}
sorted(dic_3.values())

[20, 25, 65, 85]

Python Coding On Tuple Assignment  


Question 1: Write a Python program to create an empty tuple.

In [197]:
empty_tuple=tuple()

In [199]:
type(empty_tuple)

tuple

Question 2: Write a Python program to access the elements of a tuple.

In [201]:
a = (10,20.5,'python')
elements_1=a[0]
elements_2=a[1]
elements_3=a[2]

print('elements_1:',elements_1 , 'elements_2:',elements_2, 'elements_3:',elements_3)

elements_1: 10 elements_2: 20.5 elements_3: python

Question 3: Write a Python program to concatenate two tuples.

a = (10,20.5,'python')
b= (1,2.5,'code')
ab=a+b
ab

Question 4: Write a Python program to find the length of a tuple.

In [206]:
a = (10,20.5,'python')
len(a)

3

Question 5: Write a Python program to convert a tuple into a list.

In [211]:
a = (10,20.5,'python')
list_a=list(a)
list_a

[10, 20.5, 'python']

Question 6: Write a Python program to find the maximum and minimum elements in a tuple.

In [220]:
a = (10,20.5,102, 41 , 5)
print('maximum elements', max(a))
print('minimum elements', min(a))

maximum elements 102
minimum elements 5

Question 7: Write a Python program to check if an element exists in a tuple.

In [221]:
a = (10, 20.5, 102, 41, 5)

element_to_check = 102

if element_to_check in a:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

102 exists in the tuple.

Question 8: Write a Python program to count the number of occurrences of an element in a tuple.

In [223]:
a = (10, 20.5, 102, 41, 5,10)

element_to_count = 10

count = a.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 10 appears 2 times in the tuple.

Question 9: Write a Python program to slice a tuple.

In [233]:
a = (10, 20.5, 102, 41, 5,10)
slice(a[0:10:2])

slice(None, (10, 102, 5), None)

Question 10: Write a Python program to unpack a tuple into multiple variables.

In [234]:
# Example tuple
person_info = ("ravi", 30, "delhi")

# Unpacking the tuple into variables
name, age, city = person_info

print("Name:", name)
print("Age:", age)
print("City:", city)

Name: ravi
Age: 30
City: delhi